body {background-color:blue; text-align:center;}
h1 {color:blue; font-family:"Times New Roman", serif; font-size:40px;}
p {color:blue; font-family:"Times New Roman", serif; font-size:20px;}
.div1 {background-color:orange; width:1200px; margin:auto;}
.div1-1 {background-color:orange; margin:auto; width:400px;}
.div1-1-1{background-color:orange; float:left; width:100px; }
.div2{background-color:orange; margin:auto; width:800px
