h3 {text-align:right; font-size:150%;font-style:italic;font-family:Monotype Corsiva;}
p {text-align:center; font-size:130%;font-style:italic;font-family:Monotype Corsiva;}
a.button:link {text-align:center; font-size:200%; }
a:link {color:aqua;} 
a:visited {color:blue;}

