@charset "utf-8";
/* CSS Document */
.container {
	background-color: transparent;
	margin: 0 auto;
	width:100%;
}

.backgrounder{
	background-image:url('http://images2.layoutsparks.com/1/225156/wonderful-world-nature-grass.jpg');
	background-repeat:no-repeat;
	}

.head{
	background-color:transparent;
	color:white;
}

a{
	text-decoration:none;
	color:blue;
}
p{
	color:white;
}

.work{
	width:70%;
	margin-bottom:10%}

.nav{
	margin:0;
	padding:0;
}

.nav li {
	list-style:none;
	display:inline;
	padding:4%;
	text-align:center;
	position: relative;
	right:1.2%;
	font-size:16px;
}

.nav li a {
	text-decoration:none;
	color:white;
}

.nav li a:hover {
	color:blue;
	
}

.ball {
		width:0px;
		height:0px;
		background-color:blue;
		position: absolute;
		-moz-animation:myFirst 4s;
		-webkit-animation:myFirst 4s;
		animation:myFirst 4s infinite;
		-moz-animation-direction:alternate;
}


.about{
	clear:both;
	text-align:center;
	color:white;
	margin-top:20%;
	
}

@keyframes myfirst
{
	0%{top:0px; left:22%;}
		100%{top:30%; left:22%;}
}



@keyframes myFirst {
			0%{top:0px; left:22%;}
		100%{top:30%; left:22%;}
}

@-moz-keyframes myFirst {
		0%{top:0px; left:22%;}
		100%{top:20%; left:22%;}
}

@-webkit-keyframes myFirst {
			0%{top:0px; left:0%;}
		100%{top:60px; left:0%;}
}

.content{
	width:278px;
	margin:0;
	position:relative;
	line-height:2em;
	padding:10px 0 30px;
}
.col { }

#skill { 
	list-style:none; 
	padding-top:20px;
	margin-left:-10%;
}

#skill li { 
	margin-bottom:70px; 
	background:#000; 
	height:10px; 
	border-radius:6px; 
	border-left:1px solid #111; 
	border-top:1px solid #111; 
	border-right:1px solid #333; 
	border-bottom:1px solid #333;  
}

#skill li em { 
	position:relative; 
	top:-30px;
}

.expand { 
	height:1px; 
	margin:4px -86px; 
	background:#2187e7; 
	position:absolute;
}

.html5       { width:80%;  -moz-animation:html5 2s ease-out;       -webkit-animation:html5 2s ease-out;       }
.css3        { width:80%;  -moz-animation:css3 2s ease-out;        -webkit-animation:css3 2s ease-out;        }
.jquery      { width:30%;  -moz-animation:jquery 2s ease-out;      -webkit-animation:jquery 2s ease-out;      }
.photoshop   { width:10%;  -moz-animation:photoshop 2s ease-out;   -webkit-animation:photoshop 2s ease-out;   }
.dreamweaver { width:80%; -moz-animation:dreamweaver 2s ease-out; -webkit-animation:dreamweaver 2s ease-out; }

@-moz-keyframes html5       { 0%  { width:0px;} 100%{ width:85%;}  }
@-moz-keyframes css3        { 0%  { width:0px;} 100%{ width:85%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:30%;}  }
@-moz-keyframes photoshop   { 0%  { width:0px;} 100%{ width:10%;}  }
@-moz-keyframes dreamweaver { 0%  { width:0px;} 100%{ width:70%;} }

@-webkit-keyframes html5       { 0%  { width:0px;} 100%{ width:95%;}  }
@-webkit-keyframes css3        { 0%  { width:0px;} 100%{ width:95%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:30%;}  }
@-webkit-keyframes photoshop   { 0%  { width:0px;} 100%{ width:10%;}  }
@-webkit-keyframes dreamweaver { 0%  { width:0px;} 100%{ width:90%;} }


